@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Roboto+Condensed:400,700');

/* *** GENERAL STYLES *** */
html { 
    font-size: 16px;
    overflow-x: hidden !important;
}
body {
    overflow-x: hidden !important;
    font-family: Avenir-Book, sans-serif;
    font-size: 1.08rem;
    line-height: 1.91rem;
    color: $text;
}
[v-cloak] {
    display: none;
}